name: Executar script wubbaLubbaDubDub.py

on:
  push:
    branches: [ '*' ]  
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Executar arquivo Python
      run: |
        echo "Executando wubbaLubbaDubDub.py "
        python wubbaLubbaDubDub.py
        echo "Script executado com sucesso!"
